/* 
	Please leave the content below alone for this week's tutorial
*/
@font-face {
	font-family: 'Open sans';
	font-weight: normal;
	font-style: normal;
	src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

@font-face {
	font-family: 'Axis';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Axis Extrabold.otf');
