
.caption-inside{
	position:relative;
	left:50px;
}

.caption-inside figcaption{
	position:absolute;
	left:2em;
	bottom:2em;
	color:white;
	background-color:#000;
}



body {
	font-family: 'Open sans', Arial, sans-serif;
  	padding: 0, 2.5rem, 2.5rem, 2.5rem;
  	color: #FFF;
 	background-color: #4B595A;
 	max-width: 65rem;
 	margin: 0 auto;
}

h1, h2{
 	 font-family: 'Axis';
}

img {
	height: auto; 
	max-width: 100%;
}

.home-image {
	width: 100%;
	height: auto;
	
}

.district-image{
	width: 33%;
}

figure {
	margin: 0;
}

figcaption {
	font-style: italic;
}

a img{
	background-color: #ffffff;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity: 0.6;
}

a img:active, a img:hover, a img:focus{
	opacity: 1.0;
}

.top-title h1 {
	margin: 0;
	margin-bottom: 0.5rem;
}

.top-line{
	padding: 0;
	margin: 0;
	border-top: 1px solid #333;
}

.top-link {
	display: inline-block;
	padding: 0.5em 0.75em;
	color: #ffffff;
	-webkit-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	text-decoration: none;
}

.top-link:active, .top-link:hover, .top-link:focus {
	color: #4B595A; 
	
}

code, samp {
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

.top-title {
	background-color: #5CA7BA;
	position: relative;

}

.button-nav {
	margin-top: 0.5rem;
  	display: inline-block;
  	width: 100%;

	padding: 0.5em 0.75em;
	color: #FFF;
	background-color: #5CA7BA;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	text-align: center;

}

.button-nav:hover, .button-nav:focus {
	background-color: #C7EDE9;
}

.in-text-link {
  display: inline-block;
  color: #5CA7BA;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.in-text-link:hover, .in-text-link:focus {
  color: #C7EDE9;
}

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  margin-right: 1em;
  margin-bottom: 1em;
  color: #FFF;
  border-radius: 0.55em;
  background-color: #5CA7BA;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover, .button:focus {
  background-color: #C7EDE9;
}

.login-button {
	position: absolute;
	margin: 0;
  padding: 0.5em 0.75em;
	right: 5%;
  top: 1rem;
  color: #FFF;
  border-radius: 0.55em;
  background-color: #4B595A;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.login{
	margin: 0;
}

.login-button:hover, .login-button:focus {
  background-color: #C7EDE9;
}

.comment-input {
	width: 50%;
	height: 10rem;
}

.text-input {
 background-color: #c3c3c3;
 border-width : 0;
}

.unordered-list {
  list-style-type: circle;
  padding: 0.5em 2em;
  color: #FFF;
  background-color: #4B595A;
}

.ordered-list {
  list-style-type: lower-alpha;
  padding: 0.5em 2em;
  color: #FFF;
  background-color: #4B595A;
}